PORT=3001
DATABASE_URL="postgresql://postgres:password@localhost:5432/ticket_management?schema=public"
BETTER_AUTH_SECRET="123456"
BETTER_AUTH_URL=http://localhost:3001
CLIENT_URL=http://localhost:5178
PORT=3001

SEED_ADMIN_EMAIL=admin@ex.com
SEED_ADMIN_PASSWORD=pass1234
